// border
$border-color: #363636;
$border-radius: 8px;

// font
$font-color: #fff;
$font-color-pointer: #a8a8a8;

// background
$background-color-black: #000;
$background-color-bright: #121212;
$background-color-brigter: #262626;

// input
$input-background: #0095f6;

// division
$division-color: rgba(219, 219, 219, 0.8);
