@import "/src/sass/abstracts/variables";
.PostComment {
  display: flex;
  justify-content: space-between;
  &__wrapper {
    display: flex;
  }
  &__left {
    padding: 5px;
  }
  &__middle {
    box-sizing: border-box;
    border: 1px solid #fff;
    flex-grow: 1;
  }
  &__center {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    &--wrapper {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-bottom: 5px;
    }
    &--text {
      margin-left: 5px;
      overflow-wrap: break-word;
      word-break: break-all;
    }
    &--comment {
      font-size: 14px;
      color: $font-color-pointer;
      &-like {
        margin-right: 5px;
        cursor: pointer;
      }
      &-recomment {
        margin-right: 5px;
        font-size: 12px;
        cursor: pointer;
      }
      &-created-at {
        margin-right: 10px;
        font-size: 12px;
        color: $font-color-pointer;
      }
      &-ellipsis {
        display: inline-block;
        transform: translate(7px, 3px);

        svg {
          fill: $font-color-pointer;
        }
      }
    }
    &--edit {
      border: 1px solid #fff;
      padding: 5px;
      & input {
        margin: 2px;
        background-color: #000;
        padding: 0;
        color: #fff;
        width: 300px;
      }
      & button {
        background-color: #000;
        color: #fff;
      }
    }
  }

  &__right {
    display: flex;
    padding: 10px 0;
    align-items: center;
    &--dot {
      .activated_dot {
        position: absolute;
        background-color: #000;
        cursor: pointer;
        span {
          margin: 1px;
        }
      }
      .hidden_dot {
        display: none;
      }
    }
  }
}
