.UserPostList {
  transition: all 1s ease-out;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  &__item {
    cursor: pointer;
    display: flex;
    &:hover {
      filter: opacity(80%);
    }
    &--img {
      margin: 0;
      > img {
        box-sizing: border-box;
        width: 164.66px;
        height: 164.66px;
        object-fit: scale-down;
        margin: 0 1px;
      }
    }
  }
}
