.UploadProfilePhoto {
  position: relative;
  margin-top: 20px;
  &__upload {
    z-index: 2;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__img {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    img {
      width: 100px;
      height: 100px;
    }
  }
  &__input {
    display: none;
  }
}
