@import "/src/sass/abstracts/variables";

.UserComment {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  &__wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
  }
  &__created-at {
    font-size: 12px;
    color: $font-color-pointer;
  }
  &__dot {
    position: relative;
    // border: 1px solid #fff;
    text-align: center;
    width: 10px;
    height: 10px;
    svg {
      padding: 4px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
  &__text {
    overflow-wrap: break-word;
    word-break: break-all;
  }
  &__comment {
    margin-top: 5px;
    font-size: 14px;
    color: $font-color-pointer;
    &--like {
      margin-right: 5px;
      cursor: pointer;
    }
    &--recomment {
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
