.LoginInputBox {
  &__label {
    display: flex;
    position: relative;
    &--input {
      margin-top: 10px;
      width: 250px;
      height: 20px;
      border-radius: 3px;
      background-color: #b3b3b3;
    }
    &--placeholder {
      position: absolute;
      height: 36px;
      left: 8px;
      right: 0;
      line-height: 36px;
      pointer-events: none;
      transform-origin: left;
      font-size: 12px;
      transition: transform ease-out 0.1s;
      transform: translateY(10px);
    }
  }
}
