@import "/src/sass/abstracts/variables";

.HeartSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}
.MessageSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}

.EllipsisSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}
.HomeSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}
.CompassSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}

.UserSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}
.PostSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}
.CommentsSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    transform: scaleX(-1);
    cursor: pointer;
  }
}

.BookMarkSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}

.ChevronLeftSvg {
  position: absolute;
  left: 18px;
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
