@import "/src/sass/abstracts/variables";

// Nav ---------
.MessageSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}

.HomeSvg {
  svg {
    fill: $font-color;
    display: block;

    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}
.CompassSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}

.UserSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}
.PostSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}
.CommentsSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    transform: scaleX(-1);
    cursor: pointer;
  }
  :hover {
    fill: $font-color-pointer;
  }
}
// --------- Nav

// interaction bar --------
.EllipsisSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
  :hover {
    fill: $font-color-pointer;
  }
}

.BookMarkSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
  :hover {
    fill: $font-color-pointer;
  }
}

.ChevronLeftSvg {
  position: absolute;
  z-index: 3;
  top: 9px;
  left: 18px;
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  :hover {
    fill: $font-color-pointer;
  }
}
// interaction bar --------

.Setting {
  position: absolute;
  z-index: 3;
  top: 9px;
  left: 18px;
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  :hover {
    fill: $font-color-pointer;
  }
}

.SingleDotSvg {
  svg {
    fill: $font-color-pointer;
    display: block;
    width: 2px;
    height: 2px;
    cursor: pointer;
  }
  :hover {
    fill: $font-color-pointer;
  }
}
.CircleCheckSvg {
  z-index: 3;
  position: absolute;
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}
.CircleXmarkSvg {
  svg {
    fill: $font-color;
    display: block;
    width: 24px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
  }
}
.CirclePlus {
  svg {
    fill: $font-color-pointer;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
