@import "/src/sass/abstracts/variables";

.LoginPage {
  width: 350px;
  height: 600px;
  margin: auto;

  &__wrapper {
    box-sizing: border-box;
    border: 1px solid $background-color-brigter;
    background-color: $background-color-bright;
    margin: 13% 0 5% 0;
    padding: 10px 0px;
    height: 420px;
  }
  &__signup {
    display: flex;
    box-sizing: border-box;
    border: 1px solid $background-color-brigter;
    background-color: $background-color-bright;
    height: 80px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    &--hyperlink {
      margin-left: 5px;
      color: $input-background;
    }
  }
}
