@import "/src/sass/abstracts/variables";

.Header {
  background-color: $background-color-black;
  z-index: 3;
  position: fixed;
  width: 90%;
  display: flex;
  padding: 0 5%;
  height: 60px;
  border-bottom: 1px solid $border-color;
  align-items: center;
  &__wrapper {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
