@import "/src/sass/abstracts/variables";

.InputBox {
  &__label {
    display: flex;
    position: relative;
    &--input {
      color: $font-color;
      margin: 5px 0;
      width: 250px;
      height: 20px;
      border-radius: 3px;
      background-color: $background-color-brigter;
    }
    &--placeholder {
      position: absolute;
      color: $font-color-pointer;
      height: 36px;
      left: 8px;
      right: 0;
      line-height: 36px;
      pointer-events: none;
      transform-origin: left;
      font-size: 12px;
      transition: transform ease-out 0.1s;
      transform: translateY(5px);
    }
  }
}
